.color-red {
    color:red;
}

.color-1 {
    color:blue;
}

.color-2 {
    color:cadetblue;
}

.color-3 {
    color:crimson;
}

.none {
    display: none;
}

#titulo2 {
    font-size: 3rem;
    color: aquamarine;
}

.section {
    background-color: cadetblue;
}

h1 {
    color: blue;
}

.products {
    background: lavenderblush;
}

.cart {
    background-color: lightblue;
}